<html>
<head><title>secondary invitation language</title>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=m0tazYRimFnV1hoGKbgtnw');

.lst-kix_list_3-8>li {
    counter-increment: lst-ctn-kix_list_3-8
}

.lst-kix_list_2-6>li {
    counter-increment: lst-ctn-kix_list_2-6
}

ol.lst-kix_list_6-2.start {
    counter-reset: lst-ctn-kix_list_6-2 0
}

ol.lst-kix_list_5-8.start {
    counter-reset: lst-ctn-kix_list_5-8 0
}

ol.lst-kix_list_5-3.start {
    counter-reset: lst-ctn-kix_list_5-3 0
}

.lst-kix_list_6-6>li {
    counter-increment: lst-ctn-kix_list_6-6
}

.lst-kix_list_6-3>li:before {
    content: "" counter(lst-ctn-kix_list_6-3, decimal) ". "
}

.lst-kix_list_6-7>li:before {
    content: "" counter(lst-ctn-kix_list_6-7, decimal) ". "
}

.lst-kix_list_6-2>li:before {
    content: "" counter(lst-ctn-kix_list_6-2, decimal) ". "
}

ol.lst-kix_list_1-5.start {
    counter-reset: lst-ctn-kix_list_1-5 0
}

.lst-kix_list_5-1>li {
    counter-increment: lst-ctn-kix_list_5-1
}

.lst-kix_list_6-3>li {
    counter-increment: lst-ctn-kix_list_6-3
}

.lst-kix_list_3-3>li {
    counter-increment: lst-ctn-kix_list_3-3
}

ul.lst-kix_list_5-0 {
    list-style-type: none
}

ol.lst-kix_list_4-2.start {
    counter-reset: lst-ctn-kix_list_4-2 0
}

ol.lst-kix_list_2-3.start {
    counter-reset: lst-ctn-kix_list_2-3 0
}

.lst-kix_list_1-5>li {
    counter-increment: lst-ctn-kix_list_1-5
}

.lst-kix_list_4-3>li:before {
    content: "" counter(lst-ctn-kix_list_4-3, decimal) ". "
}

ol.lst-kix_list_6-4.start {
    counter-reset: lst-ctn-kix_list_6-4 0
}

ol.lst-kix_list_3-6.start {
    counter-reset: lst-ctn-kix_list_3-6 0
}

.lst-kix_list_4-4>li {
    counter-increment: lst-ctn-kix_list_4-4
}

.lst-kix_list_3-6>li:before {
    content: "" counter(lst-ctn-kix_list_3-6, decimal) ". "
}

ol.lst-kix_list_2-1.start {
    counter-reset: lst-ctn-kix_list_2-1 0
}

.lst-kix_list_4-7>li {
    counter-increment: lst-ctn-kix_list_4-7
}

.lst-kix_list_4-5>li {
    counter-increment: lst-ctn-kix_list_4-5
}

.lst-kix_list_5-2>li:before {
    content: "" counter(lst-ctn-kix_list_5-2, decimal) ". "
}

ol.lst-kix_list_2-6.start {
    counter-reset: lst-ctn-kix_list_2-6 0
}

.lst-kix_list_6-8>li:before {
    content: "" counter(lst-ctn-kix_list_6-8, decimal) ". "
}

.lst-kix_list_3-2>li {
    counter-increment: lst-ctn-kix_list_3-2
}

ol.lst-kix_list_2-5.start {
    counter-reset: lst-ctn-kix_list_2-5 0
}

ol.lst-kix_list_1-7 {
    list-style-type: none
}

ol.lst-kix_list_1-8 {
    list-style-type: none
}

.lst-kix_list_5-4>li {
    counter-increment: lst-ctn-kix_list_5-4
}

.lst-kix_list_1-6>li:before {
    content: "" counter(lst-ctn-kix_list_1-6, decimal) ". "
}

ul.lst-kix_list_3-0 {
    list-style-type: none
}

.lst-kix_list_4-2>li {
    counter-increment: lst-ctn-kix_list_4-2
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_4-1>li {
    counter-increment: lst-ctn-kix_list_4-1
}

.lst-kix_list_6-8>li {
    counter-increment: lst-ctn-kix_list_6-8
}

ol.lst-kix_list_1-8.start {
    counter-reset: lst-ctn-kix_list_1-8 0
}

ol.lst-kix_list_4-3.start {
    counter-reset: lst-ctn-kix_list_4-3 0
}

ol.lst-kix_list_4-5.start {
    counter-reset: lst-ctn-kix_list_4-5 0
}

ol.lst-kix_list_1-2 {
    list-style-type: none
}

ol.lst-kix_list_1-4.start {
    counter-reset: lst-ctn-kix_list_1-4 0
}

.lst-kix_list_2-1>li:before {
    content: "" counter(lst-ctn-kix_list_2-1, decimal) ". "
}

ol.lst-kix_list_1-1 {
    list-style-type: none
}

.lst-kix_list_4-8>li:before {
    content: "" counter(lst-ctn-kix_list_4-8, decimal) ". "
}

ol.lst-kix_list_1-6 {
    list-style-type: none
}

.lst-kix_list_5-5>li:before {
    content: "" counter(lst-ctn-kix_list_5-5, decimal) ". "
}

ol.lst-kix_list_1-5 {
    list-style-type: none
}

ol.lst-kix_list_1-4 {
    list-style-type: none
}

ol.lst-kix_list_1-3 {
    list-style-type: none
}

.lst-kix_list_1-1>li {
    counter-increment: lst-ctn-kix_list_1-1
}

.lst-kix_list_2-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_list_1-2.start {
    counter-reset: lst-ctn-kix_list_1-2 0
}

.lst-kix_list_5-7>li {
    counter-increment: lst-ctn-kix_list_5-7
}

.lst-kix_list_4-6>li {
    counter-increment: lst-ctn-kix_list_4-6
}

.lst-kix_list_2-4>li:before {
    content: "" counter(lst-ctn-kix_list_2-4, decimal) ". "
}

ol.lst-kix_list_4-5 {
    list-style-type: none
}

ol.lst-kix_list_4-4 {
    list-style-type: none
}

ol.lst-kix_list_4-7 {
    list-style-type: none
}

.lst-kix_list_4-2>li:before {
    content: "" counter(lst-ctn-kix_list_4-2, decimal) ". "
}

ol.lst-kix_list_4-6 {
    list-style-type: none
}

ul.lst-kix_list_6-0 {
    list-style-type: none
}

ol.lst-kix_list_4-8 {
    list-style-type: none
}

ol.lst-kix_list_2-4.start {
    counter-reset: lst-ctn-kix_list_2-4 0
}

ol.lst-kix_list_1-1.start {
    counter-reset: lst-ctn-kix_list_1-1 0
}

ol.lst-kix_list_5-8 {
    list-style-type: none
}

ol.lst-kix_list_5-7 {
    list-style-type: none
}

.lst-kix_list_4-1>li:before {
    content: "" counter(lst-ctn-kix_list_4-1, decimal) ". "
}

.lst-kix_list_2-1>li {
    counter-increment: lst-ctn-kix_list_2-1
}

ol.lst-kix_list_5-4 {
    list-style-type: none
}

ol.lst-kix_list_5-3 {
    list-style-type: none
}

ol.lst-kix_list_5-6 {
    list-style-type: none
}

ol.lst-kix_list_5-5 {
    list-style-type: none
}

.lst-kix_list_5-2>li {
    counter-increment: lst-ctn-kix_list_5-2
}

ol.lst-kix_list_5-1 {
    list-style-type: none
}

ol.lst-kix_list_5-2 {
    list-style-type: none
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_5-8>li:before {
    content: "" counter(lst-ctn-kix_list_5-8, decimal) ". "
}

.lst-kix_list_2-4>li {
    counter-increment: lst-ctn-kix_list_2-4
}

ol.lst-kix_list_1-6.start {
    counter-reset: lst-ctn-kix_list_1-6 0
}

ol.lst-kix_list_4-1 {
    list-style-type: none
}

ol.lst-kix_list_4-2 {
    list-style-type: none
}

ol.lst-kix_list_4-3 {
    list-style-type: none
}

.lst-kix_list_3-4>li:before {
    content: "" counter(lst-ctn-kix_list_3-4, decimal) ". "
}

.lst-kix_list_1-3>li:before {
    content: "" counter(lst-ctn-kix_list_1-3, decimal) ". "
}

.lst-kix_list_5-8>li {
    counter-increment: lst-ctn-kix_list_5-8
}

ol.lst-kix_list_2-7.start {
    counter-reset: lst-ctn-kix_list_2-7 0
}

ol.lst-kix_list_6-5.start {
    counter-reset: lst-ctn-kix_list_6-5 0
}

.lst-kix_list_6-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_1-2>li {
    counter-increment: lst-ctn-kix_list_1-2
}

.lst-kix_list_4-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_4-8>li {
    counter-increment: lst-ctn-kix_list_4-8
}

.lst-kix_list_5-6>li {
    counter-increment: lst-ctn-kix_list_5-6
}

.lst-kix_list_3-1>li:before {
    content: "" counter(lst-ctn-kix_list_3-1, decimal) ". "
}

.lst-kix_list_1-7>li:before {
    content: "" counter(lst-ctn-kix_list_1-7, decimal) ". "
}

.lst-kix_list_5-5>li {
    counter-increment: lst-ctn-kix_list_5-5
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

.lst-kix_list_3-1>li {
    counter-increment: lst-ctn-kix_list_3-1
}

.lst-kix_list_5-1>li:before {
    content: "" counter(lst-ctn-kix_list_5-1, decimal) ". "
}

.lst-kix_list_2-2>li {
    counter-increment: lst-ctn-kix_list_2-2
}

.lst-kix_list_1-1>li:before {
    content: "" counter(lst-ctn-kix_list_1-1, decimal) ". "
}

.lst-kix_list_3-2>li:before {
    content: "" counter(lst-ctn-kix_list_3-2, decimal) ". "
}

ol.lst-kix_list_6-3.start {
    counter-reset: lst-ctn-kix_list_6-3 0
}

ol.lst-kix_list_4-8.start {
    counter-reset: lst-ctn-kix_list_4-8 0
}

.lst-kix_list_1-2>li:before {
    content: "" counter(lst-ctn-kix_list_1-2, decimal) ". "
}

.lst-kix_list_2-8>li {
    counter-increment: lst-ctn-kix_list_2-8
}

.lst-kix_list_1-5>li:before {
    content: "" counter(lst-ctn-kix_list_1-5, decimal) ". "
}

.lst-kix_list_2-3>li {
    counter-increment: lst-ctn-kix_list_2-3
}

.lst-kix_list_5-3>li {
    counter-increment: lst-ctn-kix_list_5-3
}

ol.lst-kix_list_1-7.start {
    counter-reset: lst-ctn-kix_list_1-7 0
}

.lst-kix_list_2-3>li:before {
    content: "" counter(lst-ctn-kix_list_2-3, decimal) ". "
}

.lst-kix_list_1-4>li:before {
    content: "" counter(lst-ctn-kix_list_1-4, decimal) ". "
}

.lst-kix_list_5-7>li:before {
    content: "" counter(lst-ctn-kix_list_5-7, decimal) ". "
}

ol.lst-kix_list_3-7.start {
    counter-reset: lst-ctn-kix_list_3-7 0
}

ol.lst-kix_list_6-7.start {
    counter-reset: lst-ctn-kix_list_6-7 0
}

.lst-kix_list_3-7>li {
    counter-increment: lst-ctn-kix_list_3-7
}

.lst-kix_list_2-7>li:before {
    content: "" counter(lst-ctn-kix_list_2-7, decimal) ". "
}

.lst-kix_list_1-8>li:before {
    content: "" counter(lst-ctn-kix_list_1-8, decimal) ". "
}

.lst-kix_list_1-6>li {
    counter-increment: lst-ctn-kix_list_1-6
}

.lst-kix_list_2-5>li {
    counter-increment: lst-ctn-kix_list_2-5
}

.lst-kix_list_3-3>li:before {
    content: "" counter(lst-ctn-kix_list_3-3, decimal) ". "
}

ol.lst-kix_list_6-1.start {
    counter-reset: lst-ctn-kix_list_6-1 0
}

ol.lst-kix_list_3-2.start {
    counter-reset: lst-ctn-kix_list_3-2 0
}

ol.lst-kix_list_1-3.start {
    counter-reset: lst-ctn-kix_list_1-3 0
}

.lst-kix_list_1-3>li {
    counter-increment: lst-ctn-kix_list_1-3
}

.lst-kix_list_6-4>li:before {
    content: "" counter(lst-ctn-kix_list_6-4, decimal) ". "
}

.lst-kix_list_2-7>li {
    counter-increment: lst-ctn-kix_list_2-7
}

.lst-kix_list_6-1>li:before {
    content: "" counter(lst-ctn-kix_list_6-1, decimal) ". "
}

.lst-kix_list_6-1>li {
    counter-increment: lst-ctn-kix_list_6-1
}

.lst-kix_list_4-7>li:before {
    content: "" counter(lst-ctn-kix_list_4-7, decimal) ". "
}

ol.lst-kix_list_5-7.start {
    counter-reset: lst-ctn-kix_list_5-7 0
}

.lst-kix_list_6-4>li {
    counter-increment: lst-ctn-kix_list_6-4
}

ol.lst-kix_list_6-8.start {
    counter-reset: lst-ctn-kix_list_6-8 0
}

.lst-kix_list_6-5>li:before {
    content: "" counter(lst-ctn-kix_list_6-5, decimal) ". "
}

.lst-kix_list_2-6>li:before {
    content: "" counter(lst-ctn-kix_list_2-6, decimal) ". "
}

.lst-kix_list_3-6>li {
    counter-increment: lst-ctn-kix_list_3-6
}

ol.lst-kix_list_3-3.start {
    counter-reset: lst-ctn-kix_list_3-3 0
}

.lst-kix_list_2-2>li:before {
    content: "" counter(lst-ctn-kix_list_2-2, decimal) ". "
}

.lst-kix_list_1-7>li {
    counter-increment: lst-ctn-kix_list_1-7
}

ol.lst-kix_list_2-8.start {
    counter-reset: lst-ctn-kix_list_2-8 0
}

.lst-kix_list_2-8>li:before {
    content: "" counter(lst-ctn-kix_list_2-8, decimal) ". "
}

ol.lst-kix_list_2-1 {
    list-style-type: none
}

.lst-kix_list_3-7>li:before {
    content: "" counter(lst-ctn-kix_list_3-7, decimal) ". "
}

ol.lst-kix_list_2-2 {
    list-style-type: none
}

ol.lst-kix_list_2-3 {
    list-style-type: none
}

.lst-kix_list_3-4>li {
    counter-increment: lst-ctn-kix_list_3-4
}

ol.lst-kix_list_2-4 {
    list-style-type: none
}

ol.lst-kix_list_2-5 {
    list-style-type: none
}

ol.lst-kix_list_3-1 {
    list-style-type: none
}

.lst-kix_list_6-6>li:before {
    content: "" counter(lst-ctn-kix_list_6-6, decimal) ". "
}

ol.lst-kix_list_3-2 {
    list-style-type: none
}

ol.lst-kix_list_3-3 {
    list-style-type: none
}

ol.lst-kix_list_3-4 {
    list-style-type: none
}

.lst-kix_list_1-8>li {
    counter-increment: lst-ctn-kix_list_1-8
}

ol.lst-kix_list_3-6 {
    list-style-type: none
}

ol.lst-kix_list_3-5 {
    list-style-type: none
}

ol.lst-kix_list_3-8 {
    list-style-type: none
}

ol.lst-kix_list_3-7 {
    list-style-type: none
}

ol.lst-kix_list_2-7 {
    list-style-type: none
}

ol.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_3-5>li:before {
    content: "" counter(lst-ctn-kix_list_3-5, decimal) ". "
}

ol.lst-kix_list_2-8 {
    list-style-type: none
}

.lst-kix_list_3-5>li {
    counter-increment: lst-ctn-kix_list_3-5
}

ol.lst-kix_list_5-5.start {
    counter-reset: lst-ctn-kix_list_5-5 0
}

.lst-kix_list_4-6>li:before {
    content: "" counter(lst-ctn-kix_list_4-6, decimal) ". "
}

ol.lst-kix_list_6-4 {
    list-style-type: none
}

ol.lst-kix_list_6-5 {
    list-style-type: none
}

ol.lst-kix_list_6-2 {
    list-style-type: none
}

.lst-kix_list_5-3>li:before {
    content: "" counter(lst-ctn-kix_list_5-3, decimal) ". "
}

.lst-kix_list_4-5>li:before {
    content: "" counter(lst-ctn-kix_list_4-5, decimal) ". "
}

ol.lst-kix_list_6-3 {
    list-style-type: none
}

ol.lst-kix_list_6-8 {
    list-style-type: none
}

ol.lst-kix_list_6-6 {
    list-style-type: none
}

ol.lst-kix_list_6-7 {
    list-style-type: none
}

.lst-kix_list_3-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-5>li:before {
    content: "" counter(lst-ctn-kix_list_2-5, decimal) ". "
}

ol.lst-kix_list_6-1 {
    list-style-type: none
}

.lst-kix_list_5-4>li:before {
    content: "" counter(lst-ctn-kix_list_5-4, decimal) ". "
}

ol.lst-kix_list_2-2.start {
    counter-reset: lst-ctn-kix_list_2-2 0
}

.lst-kix_list_4-4>li:before {
    content: "" counter(lst-ctn-kix_list_4-4, decimal) ". "
}

ol.lst-kix_list_4-7.start {
    counter-reset: lst-ctn-kix_list_4-7 0
}

ol.lst-kix_list_6-6.start {
    counter-reset: lst-ctn-kix_list_6-6 0
}

ol.lst-kix_list_4-4.start {
    counter-reset: lst-ctn-kix_list_4-4 0
}

.lst-kix_list_4-3>li {
    counter-increment: lst-ctn-kix_list_4-3
}

.lst-kix_list_5-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_6-5>li {
    counter-increment: lst-ctn-kix_list_6-5
}

ol.lst-kix_list_4-1.start {
    counter-reset: lst-ctn-kix_list_4-1 0
}

ul.lst-kix_list_4-0 {
    list-style-type: none
}

ol.lst-kix_list_5-6.start {
    counter-reset: lst-ctn-kix_list_5-6 0
}

ol.lst-kix_list_3-5.start {
    counter-reset: lst-ctn-kix_list_3-5 0
}

.lst-kix_list_3-8>li:before {
    content: "" counter(lst-ctn-kix_list_3-8, decimal) ". "
}

.lst-kix_list_6-2>li {
    counter-increment: lst-ctn-kix_list_6-2
}

ol.lst-kix_list_3-4.start {
    counter-reset: lst-ctn-kix_list_3-4 0
}

ol.lst-kix_list_4-6.start {
    counter-reset: lst-ctn-kix_list_4-6 0
}

ol.lst-kix_list_5-4.start {
    counter-reset: lst-ctn-kix_list_5-4 0
}

.lst-kix_list_5-6>li:before {
    content: "" counter(lst-ctn-kix_list_5-6, decimal) ". "
}

.lst-kix_list_1-4>li {
    counter-increment: lst-ctn-kix_list_1-4
}

ol.lst-kix_list_5-1.start {
    counter-reset: lst-ctn-kix_list_5-1 0
}

ol.lst-kix_list_3-8.start {
    counter-reset: lst-ctn-kix_list_3-8 0
}

ol.lst-kix_list_5-2.start {
    counter-reset: lst-ctn-kix_list_5-2 0
}

ol.lst-kix_list_3-1.start {
    counter-reset: lst-ctn-kix_list_3-1 0
}

.lst-kix_list_6-7>li {
    counter-increment: lst-ctn-kix_list_6-7
}

ol {
    margin: 0;
    padding: 0
}

.c3 {
    max-width: 432pt;
    background-color: #ffffff;
    padding: 72pt 90pt 72pt 90pt
}

.c9 {
    color: #0000ff;
    text-decoration: underline
}

.c1 {
    padding-left: 18pt;
    margin-left: 18pt
}

.c12 {
    margin: 5px;
    border: 1px solid black
}

.c8 {
    color: inherit;
    text-decoration: inherit
}

.c7 {
    margin: 0;
    padding: 0
}

.c13 {
    color: #1155cc;
    text-decoration: underline
}

.c11 {
    text-align: center
}

.c10 {
    color: #2749ff
}

.c2 {
    font-family: "Arial"
}

.c0 {
    direction: ltr
}

.c6 {
    font-weight: bold
}

.c4 {
    font-size: 11pt
}

.c5 {
    height: 12pt
}

.title {
    padding-top: 24pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 36pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 6pt
}

.subtitle {
    padding-top: 18pt;
    line-height: 1.0;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 24pt;
    font-family: "Georgia";
    padding-bottom: 4pt
}

li {
    color: #000000;
    font-size: 12pt;
    font-family: "Cambria"
}

p {
    color: #000000;
    font-size: 12pt;
    margin: 0;
    font-family: "Cambria"
}

h1 {
    padding-top: 24pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 24pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 6pt
}

h2 {
    padding-top: 18pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 18pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 4pt
}

h3 {
    padding-top: 14pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 14pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 4pt
}

h4 {
    padding-top: 12pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 12pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt
}

h5 {
    padding-top: 11pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt
}

h6 {
    padding-top: 10pt;
    line-height: 1.0;
    text-align: left;
    color: #000000;
    font-size: 10pt;
    font-family: "Cambria";
    font-weight: bold;
    padding-bottom: 2pt
}</style>
</head>
<body class="c3"><p class="c0"><span class="c2"><strong><%= @referrerName%> invited you to join the exclusive Lyricoo beta test. Lucky you!</strong></span>
</p>

<p class="c0 c5"><span class="c2"></span></p>

<p class="c0"><span class="c2"><%= @referrerName%> says, "<%=@message.content%>."</span></p>

<p class="c0 c5"><span class="c2"></span></p>

<p class="c0"><span class="c2 c6"><strong>Login to Lyricoo to listen to your message and send a reply!</strong></span></p>

<p class="c0 c5"><span class="c2"></span></p>

<p class="c0"><span class="c2">We&rsquo;ve already create an account for you! Just head to </span><span
class="c2 c13"><a class="c8" href="http://www.lyricoo.com">www.Lyricoo.com</a></span><span class="c2">&nbsp;and login with the following username and password:</span>
</p>

<p class="c0 c5"><span class="c2"></span></p>

<p class="c0"><span class="c2">Username: <%= @user.email%></span></p>

<p class="c0"><span class="c2">Password: <%= @password%></span></p>

<p class="c0 c5"><span class="c2"></span></p>

<p class="c11 c0 c5"><span class="c2 c6"></span></p>

<p class="c11 c0 c5"><span class="c2 c6"></span></p>

<p class="c11 c0"><span class="c2 c6"><strong>What is a Lyricoo?</strong></span></p>
<ul class="c7 lst-kix_list_1-0 start">
  <li class="c1 c0"><span class="c2">Lyricoos are &ldquo;bites of songs&rdquo; creating a new way of sending a musical message&hellip; </span>
  </li>
  <li class="c1 c0"><span class="c2">Lyricoos are a way of showing your creativity and playing with the meaning of music to express yourself when you don&rsquo;t have the words</span>
  </li>
  <li class="c1 c0"><span class="c2">Lyricoos are a way of getting your point across, getting out of the doghouse, or letting someone know you&rsquo;d like to get to know them better</span>
  </li>
  <li class="c1 c0"><span class="c2">Lyricoos are&hellip; whatever you want them to be &ndash; we hope you will play around with the app and come up with ways to use it that we haven&rsquo;t even considered! </span>
  </li>
</ul>
<p class="c11 c0"><span class="c2 c6"><strong>About the test</strong></span></p>
<ul class="c7 lst-kix_list_2-0 start">
  <li class="c1 c0"><span class="c2">We are testing the idea of using &ldquo;bites of lyrics&rdquo; to communicate, share emotions and have fun. However, the app is in beta and is designed with minimal functionality for now &ndash;
    so please excuse any bugs! Should we decide to build it out, it will be more robust, user friendly and have more features. </span>
  </li>
  <li class="c1 c0"><span class="c2">This test will run from September 20 &ndash; October 2 - then the site will be taken down temporarily for further construction. Don&#39;t wait to download and use the app!</span>
  </li>
  <li class="c0 c1"><span class="c2 c6">Please</span><span class="c2">&nbsp;-- Try this out, share it with as many people as you would like &ndash;
    and let us know what you think!</span></li>
</ul>
<p class="c0 c5"><span class="c2"></span></p>

<p class="c11 c0"><span class="c2 c6"><strong>To Invite Others&hellip;</strong></span></p>

<p class="c0 c5"><span class="c2"></span></p>
<ul class="c7 lst-kix_list_6-0 start">
  <li class="c1 c0"><span class="c2">Click on the &#39;+&#39; in the upper right hand corner of the message window and type an email in the input box. </span>
  </li>
  <li class="c1 c0"><span class="c2">Choose a Lyricoo that expresses the sentiment you wish to send by selecting it and clicking on the &ldquo;send&rdquo;
    icon</span></li>
  <li class="c1 c0"><span class="c2">Compose any message you want and click send. The recipient will automatically be invited to join. </span>
  </li>
  <li class="c1 c0"><span class="c2">After you have invited someone, they will be added to your contacts so that you can continue to exchange Lyricoos with them (your conversation will stay in your message </span><span
  class="c2">window</span><sup><a href="#cmnt1" name="cmnt_ref1">[a]</a></sup><span class="c2">) </span></li>
  <li class="c1 c0"><span class="c2">Please feel free to share and invite AS MANY PEOPLE AS YOU WOULD LIKE</span></li>
</ul>
<p class="c11 c0 c5"><span class="c2 c6"></span></p>

<p class="c0 c11"><span class="c2 c6"><strong>Feedback</strong></span></p>

<p class="c11 c0 c5"><span class="c2 c6"></span></p>
<ul class="c7 lst-kix_list_6-0">
  <li class="c1 c0"><span class="c2">Over the course of the test, you may be asked to answer a question or provide some information &ndash;
    please take a moment to do this when asked &ndash; it is extremely helpful to our experiment!</span></li>
  <li class="c1 c0"><span class="c2">We really appreciate your feedback and suggestions &ndash; please send any comments, questions, etcetera to </span><span
  class="c2 c9"><a class="c8" href="mailto:Meredith@lyricoo.com">Meredith@lyricoo.com</a></span></li>
  <li class="c1 c0"><span class="c2">Need help getting the app to work? Have a question about it? Send an email or text to </span><span
  class="c9 c2"><a class="c8" href="mailto:Meredtih@lyricoo.com">Meredtih@lyricoo.com</a></span><span
  class="c2">&nbsp;or </span><span class="c2 c10">650.468.6151</span></li>
</ul>
</body>
</html>